.footer-site{
    background: $primary !important;

    .footer-logo{
        height: 31px !important;
        width: 300px !important;
        object-fit: contain !important;
    }

    .phone-col{
        hr.line{
            background-color: #D8D8D8 !important;
            border: 0;
            height: 2px;
            margin-top: 1.4rem !important;
            margin-bottom: 0 !important;
            @include media-breakpoint-up(sm){
                display: none !important;
            }
        }
        .call-us{
            font-family: $sourceSanPro !important;
            font-weight: 400 !important;
            font-size: 22px !important;
            line-height: 28px !important;
            letter-spacing: -.8px !important;
        }
        .phone-number{
            font-family: $sourceSanPro !important;
            font-size: 28px !important;
            font-weight: 600 !important;
            line-height: 28px !important;
            letter-spacing: -1.06px !important;
            text-decoration: none !important;
            &:hover,&:focus{
                color: #d1d1d1 !important;
            }
        }
    }

    .copyText{
        font-family: $sourceSanPro !important;
        font-size: 22px !important;
        font-weight: 600 !important;
        line-height: 24px !important;
        letter-spacing: -.836px !important;
        margin-bottom: .2rem !important;
    }
    .addressText{
        font-family: $sourceSanPro !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 18px !important;
        letter-spacing: -.532px !important;
    }
}

.footer-site .phone-col .phone-number.email-us-at {
    font-size: 22px !important;
    @media screen and (min-width: 576px) {
        font-size: 15px !important;
    }
    @media screen and (min-width: 768px) {
        font-size: 20px !important;
    }
    @media screen and (min-width: 1280px) {
        font-size: 22px !important;
    }
}