.hero-with-description{
    .image-hero{
        object-fit: cover !important;
        object-position: top !important;
        height: 304px !important;
        @include media-breakpoint-up(md){
            height: 420px !important;
        }
        @include media-breakpoint-up(lg){
            height: 100% !important;
        }
        @media (min-width: 1900px) {
            height: 580px!important;
        }
        @media (min-width: 2200px) {
            height: 650px!important;
        }

    }
    .image-hero-alt {
        @media (min-width: 1900px) {
            height: 800px!important;
        }
    }
    .col-content{
        background-color: #F9FAFF !important;
        @include media-breakpoint-up(md){
            padding: 2rem 3rem !important;
            display: flex;
            justify-content: center;
        }
        @include media-breakpoint-up(lg){
            padding: 3.5rem 4rem !important;
            justify-content: start !important;
        }
        @media screen and (min-width: 1366px) {
            padding: 1.5rem 4rem !important;
        }
    }
    .content-info{
        @include media-breakpoint-up(lg){
            max-width: 520px !important;
        }
        @media screen and (min-width: 1920px) {
            max-width: 680px !important;
        }
        .subtitle{
            color: $secondary !important;
            text-transform: uppercase;
            font-size: 14px !important;
            font-family: $sourceSanPro !important;
            font-weight: 600 !important;
            letter-spacing: -.667px !important;
        }

        .the_title{
            color: $primary !important;
            font-size: 20px !important;
            font-family: $sourceSanPro !important;
            line-height: 25px !important;
            letter-spacing: 0 !important;
            font-weight: 700 !important;
            @include media-breakpoint-up(md){
                font-size: 36px !important;
                line-height: 45px !important;
                letter-spacing: 0 !important;
                margin-bottom: 1rem !important;
            } 
        }
        .the_content{
            font-family: $sourceSanPro !important;
            font-weight: 400 !important;
            font-size: 18px !important;
            line-height: 23px !important;
            letter-spacing: 0 !important;
            color: $grey-text !important;
        }
    }
}